<div class="row">
  <div class="nav">
    <div
      class="nav-link"
      [routerLink]="['researches']"
      routerLinkActive="link-active"
    >
      Researches
    </div>
    <div *ngIf="authService.user$ | async as user">
      <div
        class="nav-link"
        [routerLink]="['admins']"
        routerLinkActive="link-active"
        *ngIf="user.role == 1"
      >
        Admins
      </div>
      <div
        class="nav-link"
        [routerLink]="['add']"
        routerLinkActive="link-active"
        *ngIf="user.role == 2"
      >
        Add
      </div>
    </div>
  </div>
</div>
