<div class="admins-body">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Invite admin</mat-panel-title>
    </mat-expansion-panel-header>

    <div [formGroup]="inviteForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
    </div>
    <message-success [message$]="successMsg.asObservable()"></message-success>
    <message-error [message$]="errorMsg.asObservable()"></message-error>
    <button
      mat-flat-button
      color="primary"
      [disabled]="isInviting"
      (click)="onInviteClick()"
    >
      {{ inviteButtonText }}
    </button>

    <div *ngIf="invitations$ | async as invitations" class="pending">
      <div class="mat-subheading-2">Pending Invitations</div>
      <div *ngFor="let invitation of invitations">
        {{ invitation.email }}
        fesfes
      </div>
    </div>
  </mat-expansion-panel>

  <div class="admin" *ngFor="let admin of admins">
    <div class="row mat-title">
      {{ admin.name }}
    </div>
    <div class="mat-subheading-1">
      {{ admin.email }}
    </div>
  </div>
</div>
