.body {
  align-items: center;
  padding: 3% 15%;
}

mat-icon {
  transform: scale(2.5);
  margin-bottom: 1.5rem;
}

.container {
  width: 40%;
}

.small {
  transform: scale(0.35);
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }

  .body {
    padding: 5% 0;
  }
}
