<div class="body">
  <mat-icon color="primary" svgIcon="research"></mat-icon>
  <h2>Sign in</h2>
  <div class="container">
    <form [formGroup]="signInForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Email"
          type="email"
        />
        <mat-error *ngIf="signInForm.get('email').hasError('email')"
          >That's not an email, bro.</mat-error
        >
        <mat-error *ngIf="signInForm.get('email').hasError('required')"
          >Woah! You didn't enter anything!</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          placeholder="Password"
          type="password"
        />
      </mat-form-field>

      <div class="actions">
        <button
          mat-flat-button
          color="primary"
          class="full-width"
          (click)="onSignInClick()"
          [disabled]="!signInForm.valid"
        >
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
