.researches-body {
  display: flex;
  flex-direction: column;
}

.search {
  width: 70%;
  margin-right: 1rem;
}

a {
  &.pdf-link {
    cursor: pointer;
    color: #000000;
    &:hover {
      text-decoration: underline;
    }
  }
}
