<div class="researches-body">
  <div class="row">
    <mat-form-field class="full-width search">
      <input matInput placeholder="Search..." />
    </mat-form-field>
    <div *ngIf="authService.user$ | async as user">
      <button
        mat-flat-button
        color="primary"
        *ngIf="user.role == 2"
        (click)="onAddResearchClick()"
      >
        Add new
      </button>
    </div>
  </div>

  <div *ngFor="let research of researches" class="research">
    <a class="mat-title" [href]="research.downloadURL" target="_blank">{{
      research.title
    }}</a>
  </div>
</div>
