nav {
  padding-right: 10%;
  padding-left: 10%;
  background-color: #ffffff;
}

.dash-body {
  padding: 1% 10%;
  display: flex;
}

.filter {
  width: 500px;
  min-width: 275px;
  margin-right: 1rem;
}

mat-expansion-panel {
  height: fit-content;
}

.mat-expansion-panel {
  box-shadow: none;
}

.dash-content {
  width: 100%;
}

.filter-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  nav {
    padding-right: 5%;
    padding-left: 5%;
  }

  .dash-body {
    padding: 1% 5%;
    flex-direction: column;
  }

  .filter {
    width: 100%;
    margin-bottom: 1rem;
  }
}
