<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    *ngFor="let link of tabLinks"
    [routerLink]="link.path"
    queryParamsHandling="merge"
    routerLinkActive
    #rla="routerLinkActive"
  >
    {{ link.label }}
  </a>
</nav>

<div class="dash-body">
  <mat-expansion-panel class="filter" hideToggle>
    <mat-expansion-panel-header>
      <mat-icon>filter_list</mat-icon>
      <mat-panel-title>
        Filter
      </mat-panel-title>
    </mat-expansion-panel-header>
    Daddy
  </mat-expansion-panel>
  <div class="dash-content">
    <router-outlet></router-outlet>
  </div>
</div>
