<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    *ngFor="let link of tabLinks"
    [routerLink]="link.path"
    queryParamsHandling="merge"
    routerLinkActive
    #rla="routerLinkActive"
  >
    {{ link.label }}
  </a>
</nav>

<div class="dash-body">
  <mat-expansion-panel class="filter" hideToggle>
    <mat-expansion-panel-header>
      <mat-icon>filter_list</mat-icon>
      <mat-panel-title>
        Filter
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!--MAT PANEL CONTENT START-->
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select
        [(ngModel)]="selectedCategory"
        (ngModelChange)="filterByCategory()"
      >
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let category of categoryServ.categories"
          [value]="category.name"
        >
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="filter-actions">
      <button mat-button (click)="onResetFilterClick()">Reset</button>
    </div>
    <!--MAT PANEL CONTENT END-->
  </mat-expansion-panel>

  <div class="dash-content">
    <router-outlet></router-outlet>
  </div>
</div>
