mat-horizontal-stepper {
  border: var(--grey-300) solid 1px;
  border-radius: 4px;
}

/*
.row {
  margin-bottom: 0.5rem;
}
*/
.entry {
  margin-bottom: 1rem;
}

.mat-caption {
  text-transform: capitalize;
}
