<div class="body with-nav">
  <h2 class="mat-title">Create a new center</h2>
  <mat-horizontal-stepper linear #stepper>
    <!--CENTER STEP-->
    <mat-step [stepControl]="centerFormGroup">
      <form [formGroup]="centerFormGroup">
        <ng-template matStepLabel>Fill out center details</ng-template>
        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Enter name"
              formControlName="centerName"
              required
            />
            <mat-error>Entry must be longer!</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              placeholder="Enter description"
              formControlName="centerDescription"
              required
            ></textarea>
            <mat-error>Entry must be longer!</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Date established</mat-label>
            <input
              matInput
              [matDatepicker]="established"
              placeholder="Enter date established"
              formControlName="centerEstablished"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="established"
            ></mat-datepicker-toggle>
            <mat-datepicker #established></mat-datepicker>
            <mat-error *ngIf="centerEstablished.hasError('forbiddenDate')"
              >Date is not before the current date.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Address</mat-label>
            <input
              matInput
              placeholder="Enter address"
              formControlName="centerAddress"
              required
            />
            <mat-error>Entry must be longer!</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contact number</mat-label>
            <input
              matInput
              placeholder="Enter contact number"
              formControlName="centerContactNum"
              required
            />
            <mat-error>Not a phone number.</mat-error>
          </mat-form-field>
        </div>
        <div class="actions">
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <!--ADMIN STEP-->
    <mat-step [stepControl]="adminFormGroup">
      <form [formGroup]="adminFormGroup">
        <ng-template matStepLabel>Add initial admin</ng-template>
        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Admin email</mat-label>
            <input
              matInput
              placeholder="Enter admin email"
              formControlName="adminEmail"
              required
            />
            <mat-error *ngIf="adminEmail.hasError('email')"
              >This is not an email.</mat-error
            >
          </mat-form-field>
        </div>
      </form>
      <div class="actions">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <!--CONFIRMATION-->
    <mat-step>
      <ng-template matStepLabel>Confirm</ng-template>
      <div class="entry">
        <div class="mat-caption">Center name</div>
        <span>{{ centerName.value }}</span>
      </div>
      <div class="entry">
        <div class="mat-caption">Center description</div>
        <span>{{ centerDescription.value }}</span>
      </div>
      <div class="entry">
        <div class="mat-caption">Center established date</div>
        <span>{{ centerEstablished.value | date: 'MMM dd, yyyy' }}</span>
      </div>
      <div class="entry">
        <div class="mat-caption">Center address</div>
        <span>{{ centerAddress.value }}</span>
      </div>
      <div class="entry">
        <div class="mat-caption">Center contact number</div>
        <span>{{ centerContactNum.value }}</span>
      </div>
      <div class="entry">
        <div class="mat-caption">Admin email</div>
        <span>{{ adminEmail.value }}</span>
      </div>
      <div>
        <message-error [message$]="errorMessage.asObservable()"></message-error>
      </div>
      <div>
        <message-success
          [message$]="successMessage.asObservable()"
        ></message-success>
      </div>
      <div class="actions">
        <button
          mat-flat-button
          color="primary"
          (click)="onConfirmClick()"
          [disabled]="isCreating"
        >
          {{ confirmButtonText }}
        </button>
      </div>
      <div class="actions">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
