<div class="body with-nav">
  <div class="row">
    <mat-form-field appearance="standard" style="width: 50%">
      <mat-label>Search center...</mat-label>
      <input matInput placeholder="Search for a center..." />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      [routerLink]="['/home/sadmin/create']"
    >
      New center
    </button>
  </div>
  <div class="center-main" *ngFor="let center of centerService.centers">
    <div class="center-container">
      <div class="mat-title" [routerLink]="['/center/dash', center.id]">
        {{ center.name }}
      </div>
      <div class="row mat-subheading-1">
        <div class="column">
          <div class="head">Admins</div>
          : {{ center.adminCount }}
        </div>
        <div class="column">
          <div class="head">Members</div>
          : {{ center.memberCount }}
        </div>
      </div>
      <p class="mat-body-1">
        {{ center.description }}
      </p>
    </div>
  </div>
</div>
