@import '~@angular/material/theming';
$primary: (
  50: #f4e0e0,
  100: #e3b3b3,
  200: #d08080,
  300: #bd4d4d,
  400: #ae2626,
  500: #a00000,
  600: #980000,
  700: #8e0000,
  800: #840000,
  900: #730000,
  A100: #ffa1a1,
  A200: #ff6e6e,
  A400: #ff3b3b,
  A700: #ff2222,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
$accent: (
  50: #e0f0f0,
  100: #b3d9d9,
  200: #80c0c0,
  300: #4da6a6,
  400: #269393,
  500: #008080,
  600: #007878,
  700: #006d6d,
  800: #006363,
  900: #005050,
  A100: #83ffff,
  A200: #50ffff,
  A400: #1dffff,
  A700: #03ffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
@include mat-core();
$primary: mat-palette($primary);
$accent: mat-palette($accent);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
$custom-typography: mat-typography-config(
  $font-family: '"Raleway", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-base-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include angular-material-theme($theme);

:root {
  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-700: #616161;
  --primary-500: #a00000;
}

* {
  box-sizing: inherit;
  outline: inherit;
}
html,
body {
  height: 100%;
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  font-family: 'Athiti', sans-serif;
  /*background-color: var(--grey-50);*/
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 1% 20%;
  font-family: 'Athiti', sans-serif;
  min-height: 93vh;
  height: 100%;
}

.with-nav {
  min-height: 87vh;
}

.nav {
  display: flex;
  height: 6vh;
  align-items: flex-end;
  justify-content: flex-start;
  border-bottom: var(--grey-500) solid 1px;
  width: 60%;
}

.nav-link {
  margin-right: 0.5rem;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  padding: 0.5rem 0.25rem;
  font-size: 1.15rem;

  &:hover {
    border-bottom: var(--grey-500) solid 2px;
  }
}

.link-active {
  border-bottom: mat-color($primary, 500) solid 2px;
  font-weight: 700;
  &:hover {
    border-bottom: mat-color($primary, 500) solid 2px;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
}

.no-select {
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.text-button {
  transition: color ease-in 150ms;

  &:hover {
    color: var(--grey-400);
  }
}

.container {
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  border: var(--grey-300) solid 1px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
}

.full-width {
  width: 100%;
}

.actions {
  margin-top: 1rem;
  display: flex;
}

.message {
  font-family: 'Raleway', sans-serif;
  padding: 1rem 1.5rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 1rem 0;

  &.error {
    background-color: mat-color($warn, 500);
  }
  &.success {
    background-color: #22bb33;
  }

  .material-icons {
    margin-left: auto;
    cursor: pointer;
  }
}

.menu-button {
  outline: none;
  border: none;
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  color: #000000;
  &:hover {
    background-color: mat-color($accent, 500);
    color: white;
  }
}

.research {
  margin-bottom: 0.5rem;
  border-bottom: var(--grey-200) solid 1px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;

  .mat-title {
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 0;
    &:hover {
      text-decoration: underline;
    }
  }

  .mat-subheading-1 {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .mat-subheading-2 {
    b {
      margin-right: 0.4rem;
    }

    .tag {
      margin-right: 0.25rem;
    }
  }
}

.search-bar {
  width: 100%;
  font-size: 0.8rem;
  height: 1.75rem;
  border: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: 'Raleway', sans-serif;
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
}

.search-button {
  height: 1.75rem;
  display: flex;
  align-items: center;
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: var(--grey-200);
  transition: background-color ease-in-out 150ms;
  &:hover {
    cursor: pointer;
    background-color: var(--grey-300);
  }
  i {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .body {
    padding: 1% 5%;
  }

  .nav {
    width: 90%;
  }

  .nav-link {
    padding: 0.5rem 0.25rem;
  }
}
