@import '~@angular/material/theming';
$primary: (
  50: #f0e0e0,
  100: #d9b3b3,
  200: #c08080,
  300: #a64d4d,
  400: #932626,
  500: #800000,
  600: #780000,
  700: #6d0000,
  800: #630000,
  900: #500000,
  A100: #ff8383,
  A200: #ff5050,
  A400: #ff1d1d,
  A700: #ff0303,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
$accent: (
  50: #e0f0f0,
  100: #b3d9d9,
  200: #80c0c0,
  300: #4da6a6,
  400: #269393,
  500: #008080,
  600: #007878,
  700: #006d6d,
  800: #006363,
  900: #005050,
  A100: #83ffff,
  A200: #50ffff,
  A400: #1dffff,
  A700: #03ffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
@include mat-core();
$primary: mat-palette($primary);
$accent: mat-palette($accent);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
$custom-typography: mat-typography-config(
  $font-family: '"Raleway", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-base-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include angular-material-theme($theme);

* {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Athiti', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 2% 15%;
  background-color: blue;
}
