<div class="desktop" (click)="closeAccMenu($event)">
  <mat-toolbar color="primary">
    <div class="logo" [routerLink]="['/home']">
      <mat-icon svgIcon="research"></mat-icon>
    </div>
    <div class="account">
      <div *ngIf="auth.user$ | async; then authenticated; else anon"></div>
      <ng-template #anon>
        <div class="sign-in text-button" [routerLink]="['/sign-in']">
          SIGN IN
        </div>
      </ng-template>
      <ng-template #authenticated>
        <div class="user" *ngIf="auth.user$ | async as user">
          <button
            mat-button
            (click)="toggleAccMenu(); $event.stopPropagation()"
          >
            {{ user.name }}
            <i class="material-icons">
              arrow_drop_down
            </i>
          </button>

          <div class="acc-menu" *ngIf="isAccMenuVisible">
            <div *ngIf="user.role == 1">
              <button class="menu-button" [routerLink]="['sadmin']">
                SAdmin
              </button>
              <mat-divider></mat-divider>
            </div>
            <button class="menu-button" (click)="onSignOutClick()">
              Sign out
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
<div class="mobile">MOBILE</div>
